/* Box Model Hack */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #EAF5FC;
    margin: 0;
}

/* layout starts here*/

/* header */
header {
    background-color: #E9EFF4;
}

.yarn {
    width: 53vw;
    height: 122vh;
    margin-top: -18rem;
}

.h1-header {
    margin: -52rem 0 0 86.3rem;
    font-size: 5rem;
    letter-spacing: 0.3rem;
}

.h1-divider {
    margin-left: 83.7rem;
    width: 36%;
    border: solid 1px black;
}

p {
    font-size: 2.9rem;
    margin: 1.9rem 0 0 85rem;
    width: 35%;
    font-style: italic;
}

.h1-dividerb {
    margin-top: 40rem;
    border: solid 0.8px lightgray;
}

/* sidebar */
div {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #E9EFF4;
    z-index: 1;
    height: 100%;
    width: 6%;
    overflow-x: hidden;
    padding-top: 28rem;
    overflow: hidden;
}

.sidebar a {
    display: block;
    text-decoration: none;
    font-size: 3rem;
    color: gray;
    border: 1px solid lightgray;
    border-radius: 100%;
    padding: 2rem 2.6rem;
    transform: scale(0.6);
    background-color: white;
}

/* ribbons */

.ribbon-1,
.ribbon-2,
.ribbon-3 {
    visibility: hidden;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin-left: 9.6rem;
}

.ribbon-1,
.ribbon-2,
.ribbon-3 {
    --f: .9em;
    /* control the folded part*/
    --r: 1.8em;
    /* control the ribbon shape */

    position: fixed;
    z-index: 2;
    left: -40.1rem;
    top: 17rem;
    /* left: calc(-1*var(--f)); */
    padding-inline: .25em;
    /* line-height: 0.7; */
    background: #B4D6F1;
    border-top: var(--f) solid #0005;
    border-right: var(--r) solid #0000;
    clip-path:
        polygon(0 100%, 0 var(--f), var(--f) 0,
            var(--f) var(--f), 100% var(--f),
            calc(100% - var(--r)) calc(50% + var(--f)/2), 100% 100%);
    height: 0.2%;
    width: 65%;
    transform: scale(0.17);
}

.ribbon-1 h3,
.ribbon-2 h3,
.ribbon-3 h3 {
    position: relative;
    top: -32rem;
    left: 23rem;
    letter-spacing: 0.9rem;
    color: white;
    font-size: 10.8rem;
    z-index: 3;
}

.ribbon-2 {
    margin-top: 7.6rem;
}

.ribbon-3 {
    margin-top: 15.5rem;
}

/* .sidebar-popups {
    position: fixed;
    margin: -0.9rem 0 0 7.8rem;
    z-index: 2;
    font-size: 2.6rem;
    background-color: transparent;
    width: 8%;
}

.sidebar-m1,
.sidebar-m2,
.sidebar-m3 {
    background-color: #C4D4EC;
    padding-left: 2rem;
}

.sidebar-m1 {
    margin-top: 3.5rem;
}

.sidebar-m2 {
    margin-top: 5.3rem;
    padding-left: 2.5rem;
}

.sidebar-m3 {
    margin-top: 5.4rem;
    padding-left: 3rem;
} */

/* products section */

#products-h2 {
    margin: -60rem 0 0 -115rem;
    padding-top: 10rem;
    font-size: 7.7rem;
    letter-spacing: 1rem;
    transform: rotate(-90deg);
    color: #9CC6EA;
}

.products-container {
    height: 90rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.figure-1 {
    width: 3rem;
    height: 4rem;
    position: relative;
    background-color: white;
    padding: 16rem 16rem 30rem 16rem;
    margin: 63rem 0 0 26rem;
    z-index: 3;
    box-shadow: 0.8rem 0.7rem 2rem rgb(205, 210, 215);
}

.figure-1 img {
    position: absolute;
    margin: -12rem 0 0 -14rem;
    z-index: 1;
    width: 88%;
    height: 73%;
}

.figure-1 figcaption {
    position: relative;
    top: 22.7rem;
    left: -10.8rem;
    z-index: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 5.3rem;
    color: #B4D6F1;
}

.adjust-p3 {
    padding-left: 6rem;
}

.adjust-p5 {
    font-size: 3.8rem !important;
    width: 30vw;
    margin: 1rem 0 0 -4rem;
}

.product-names {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 28rem;
    width: 75rem;
    column-gap: 1rem;
}

.product {
    position: relative;
    left: 6.5rem;
    top: 67rem;
    background-color: transparent;
    font-size: 3rem;
    color: #9CC6EA;
    padding: 2rem;
    z-index: 3;
    width: 30%;
    height: 18rem;
}

.product h4 {
    font-size: 6.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.product p {
    margin: 0 auto;
    font-size: 2.3rem;
    width: 100%;
    padding-top: 0.3rem;
    display: flex;
    justify-content: center;
    font-style: normal;
    text-align: center;
}

#productheader {
    position: absolute;
    font-size: 5rem;
    color: #EAF5FC;
    margin: 50rem 0 0 42rem;
}


/* .figure-1,
.figure-2,
.figure-3,
.figure-4,
.figure-5 {
    width: 3rem;
    height: 4rem;
    position: relative;
    background-color: white;
    padding: 16rem 16rem 30rem 16rem;
    margin-top: 10rem;
    z-index: -1;
    box-shadow: 0.8rem 0.7rem 2rem rgb(205, 210, 215);
}

.figure-1 img,
.figure-2 img,
.figure-3 img,
.figure-4 img,
.figure-5 img {
    position: absolute;
    margin: -12rem 0 0 -14rem;
    z-index: 1;
    width: 88%;
    height: 73%;
}

.figure-1 figcaption,
.figure-2 figcaption,
.figure-3 figcaption,
.figure-4 figcaption,
.figure-5 figcaption {
    position: relative;
    top: 22.7rem;
    left: -10.8rem;
    z-index: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 5.3rem;
    color: #B4D6F1;
}

.figure-3 figcaption {
    margin-left: 8rem;
}

.figure-4 figcaption {
    font-size: 4.7rem;
    width: 22rem;
    margin-top: 1rem;
}

.figure-5 figcaption {
    font-size: 4.4rem;
    width: 27rem;
    margin: 0.7rem 0 0 -2.5rem;
} */

.p1-h4:hover,
.p2-h4:hover,
.p3-h4:hover,
.p4-h4:hover,
.p5-h4:hover {
    cursor: pointer;
    color: #7CB1f9;
}

.inventory-bg {
    visibility: hidden;
    position: absolute;
    left: 74rem;
    top: 109.3rem;
    background-color: rgb(235, 230, 231);
    height: 33rem;
    width: 60rem;
    z-index: -1;
    border: 3px solid white;
}

.inventory-bg h5 {
    font-size: 2.3rem;
    margin-left: 23.5rem;
    line-height: 2rem;
    color: #7CB1f9;
}

.colors-h5 {
    margin-top: -22rem;
}

.colordiv1,
.colordiv2,
.colordiv3 {
    display: inline-block;
    position: relative;
    top: -19rem;
    left: 41rem;
    height: 100px;
    width: 280px;
    transform: scale(0.09);
    border-radius: 50%;
    background-color: #C1DEFB;
    border: 1px solid white;
}

.colordiv1 {
    margin-left: -20rem;
}

.colordiv2 {
    margin-left: -21rem;
    background-color: #EAF5FC;
}

.colordiv3 {
    margin-left: -21rem;
    background-color: #7CB1F9;
}

.price-h5 {
    margin-top: -29rem;
}

.inventory-bg li {
    display: block;
    font-size: 1.8rem;
    margin: -5rem 0 0 22.5rem;
    line-height: 7rem;
}

.time-h5 {
    margin-top: -1.2rem;
}

.inventory-bg span {
    display: block;
    font-size: 1.8rem;
    margin: -2.7rem 0 0 27rem;
}

.ph-arrow-left {
    display: block;
    font-size: 2.7rem;
    border: 2px solid white;
    background-color: #EAF5FC;
    color: gray;
    border-radius: 50%;
    width: 12%;
    padding: 2rem 2rem;
    transform: scale(0.5);
    margin: -2.8rem 0 0 51rem;
}

.ph-arrow-left:hover {
    cursor: pointer;
}

.back-button {
    visibility: hidden;
    position: absolute;
    left: 25.3rem;
    top: 27rem;
    letter-spacing: 0.4rem;
    margin: -3rem 0 0 2rem;
}

/* Contact Form Section */

.contact-page {
    height: 88rem;
}

#contact-h2 {
    font-size: 5.9rem;
    padding-top: 12rem;
    margin: 9.9rem 0 0 1rem;
    color: #9CC6EA;
}

.contact-box {
    position: absolute;
    top: 180rem;
    left: 26rem;
    height: 45rem;
    width: 98rem;
    background-color: #9CC6EA;
    border-radius: 2rem;
    overflow-y: hidden;
    z-index: 1;
}

.contact-box h3 {
    display: flex;
    justify-content: center;
    margin-top: -20rem;
    font-size: 4.8rem;
    letter-spacing: 0.4rem;
    color: rgb(92, 98, 195);
}

.contact-box span {
    display: flex;
    justify-content: center;
    margin-top: -2.8rem;
    margin-left: -2.2rem;
    font-size: 2.5rem;
    color: whitesmoke;
}

.bunny {
    scale: 77%;
    margin: -5rem 0 0 -8rem;
}

.roles {
    position: relative;
    top: -23rem;
    left: -53rem;
    width: 69%;
    font-size: 2.2rem;
    font-style: normal;
    letter-spacing: 0.1rem;
    color: white;
}

.contact-socials {
    position: absolute;
    left: 32rem;
    top: 1.3rem;
    display: flex;
    font-size: 6rem;
    background-color: transparent;
    z-index: 1;
    width: 100%;
}

.contact-socials .ph {
    padding-left: 4rem;
}

.contact-socials a {
    text-decoration: none;
    /* color: #5890de; */
    color: rgb(254, 208, 242)
}

.socials-labels {
    position: relative;
    top: -67rem;
    left: 38rem;
    background-color: transparent;
    width: 20rem;
    height: 5rem;
}

.socials-labels span {
    display: block;
    color: rgb(170, 153, 153);
    background-color: rgb(254, 208, 242);
    border: 1px solid pink;
    margin-left: 0rem;
    margin-top: -5rem;
    padding: 0.3rem 0 0.3rem 4rem;
    border-radius: 2rem;
    font-size: 3rem;
    visibility: hidden;
}

.youtube-label,
.email-label {
    position: relative;
    display: block;
    left: 2rem;
    top: 0.7rem;
    width: 86%;
}

.email-label {
    position: relative;
    display: block;
    width: 90%;
    top: 1.4rem;
}